<div class="section-title" id="aliados">
	Aliados
</div>
<section class="row">
	<div class="col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/aliados/coparmex.png">
		</div>
	</div>
	<div class="col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/aliados/ras-ieee.png">
		</div>
	</div>
	<div class="col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/aliados/estudiantes-verdes.jpg">
		</div>
	</div>
</section>