<section id="conferencias" class="row">
  <div class="section-title">
    Conferencias
  </div>
  
  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="images/ponentes/luis-wong.png">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center mt-auto">Arduinnovación y tecnología</h5>
        <a href="#" class="btn btn-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="images/ponentes/victor-leyva.jpg">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center mt-auto">Instrumentacion y control virtual automotriz</h5>
        <a href="#" class="btn btn-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="images/ponentes/jose-zamudio.jpg">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center mt-auto">Arduino como herramienta en las áreas de investigación</h5>
        <a href="#" class="btn btn-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="images/ponentes/alfredo-inclan.jpg">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center mt-auto">Estación Meteorológica con Arduino</h5>
        <a href="#" class="btn btn-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>
</section>