<section class="row datos align-items-center justify-content-between">
	<div class="col-xs-6">
		<div id="countdown"></div>
	</div>
	<div class="col-xs-6">
		<div class="fecha">12 de Mayo 2018</div>
		<div class="lugar">Plaza Nuevo Veracruz, Veracruz</div>
	</div>
</section>