<footer id="footer">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-left text-md-left">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Arduino Day Veracruz</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Registro a conferencias</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Registro a talleres</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Registro de asistencia</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Registro de proyectos</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Registro de patrocinadores</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Más sobre Arduino</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sitio Oficial</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>¿Qué es Arduino?</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tutoriales</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Playground</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Proyectos Arduino</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h5>Enlaces relacionados</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mundo Mecatrónico</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Rama IEEE ITVER</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Logiety</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>StackCode</a></li>
					<li><a href="#"><i class="fa fa-angle-double-right"></i>Biblioteca Digital Telmex</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a href="https://www.facebook.com/events/173168859935953" target="_blank"><i class="fa fa-facebook"></i></a></li>
				</ul>
			</div>
			</hr>
		</div>	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
				<p><b>Arduino Day Veracuz</b> es un evento organizado por <a class="font-weight-bold" href="https://www.facebook.com/mundomecatronico" target="_blank">Mundo Mecatrónico</a> (Comunidad STEM+) y la <a class="font-weight-bold" href="https://www.facebook.com/ieee.itver" target="_blank">Rama IEEE ITVER</a></br>Evento sin fines de lucro. De la comunidad, para la comunidad.</p>
				<p>
					Website By: <a href="https://github.com/carlosmart7104" target="_blank">Carlos Martínez</a>
				</p>
				<p class="h6">
					&copy <span id="currentYear"></span> Arduino Day Veracuz
					<br>All Rights Reserved</br>
				</p>
			</div>
			</hr>
		</div>	
	</div>
</footer>
<!--footer class="text-center">
	<p><br>&copy<span id="currentYear"></span> Arduino Day Veracruz.<br>All Rights Reserved.</br>
	<a href="https://github.com/carlosmart7104" target="_blank">Website By: carlosmart7104</a></p>
</footer-->
<script type="text/javascript">
	document.getElementById('currentYear').innerHTML = (new Date().getFullYear());
</script>