<footer class="text-center">
	<p><br>&copy<span id="currentYear"></span> Arduino Day Veracruz.<br>All Rights Reserved.</br>
	<a href="https://github.com/carlosmart7104" target="_blank">Website By: carlosmart7104</a></p>
</footer>
<script type="text/javascript">
	document.getElementById('currentYear').innerHTML = (new Date().getFullYear());
</script>