<footer class="text-center">
	<p><br>&copy<span id="currentYear"></span> Mundo Mecatrónico.<br>All Rights Reserved.</br>
	<a href="https://github.com/carlosmart7104" target="_blank">Created By: carlosmart7104</carlosmart7104@gmail.com></a></p>
</footer>
<script type="text/javascript">
	document.getElementById('currentYear').innerHTML = (new Date().getFullYear());
</script>