<section class="row" id="ubicacion">
    <div class="section-title">
    Lugar
  </div>
    <div class="col-md-12">
       	<iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.4901960867437!2d-96.19090588553036!3d19.173780487031863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c343841830945f%3A0xcd573ac19d9ed8a1!2sBiblioteca+Digital+Telmex!5e0!3m2!1ses-419!2smx!4v1525252939728"></iframe>
   	</div>
</section>