<div class="section-title">
	Nosotros
</div>
<section id="nosotros" class="row">
	<div class="col-sm-6 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/ieee.png">
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/mm.png">
		</div>
	</div>
</section>