<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" onclick="scroll_to('#inicio');">
      <img src="/icon-bg-transparent.png" width="45px" alt="M3 Talks">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" onclick="scroll_to('#inicio');">
            <a class="nav-link" href="#">M3 TALKS</a>
          </li>
          <li class="nav-item" onclick="scroll_to('#ponentes');">
            <a class="nav-link" href="#">PONENTES</a>
          </li>
          <li class="nav-item" onclick="scroll_to('#programa');">
            <a class="nav-link" href="#">PROGRAMA</a>
          </li>
          <li class="nav-item" onclick="scroll_to('#patrocinadores');">
            <a class="nav-link" href="#">PATROCINADORES</a>
          </li>
          <li class="nav-item" onclick="scroll_to('#lugar');">
            <a class="nav-link" href="#">LUGAR</a>
          </li>
          <li class="nav-item" onclick="scroll_to('#nosotros');">
            <a class="nav-link" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a id="nav-btn-entradas" href="#" class="btn btn-outline-success">ENTRADAS</a>
            <!-- href="https://m3talks.eventbrite.com" target="_blank" -->
          </li>
        </ul>
      </div>
  </div>
</nav>