<div class="section-title">
	Patrocinadores
</div>
<section id="patrocinadores" class="row">
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="http://placehold.it/500x500">
		</div>
	</div>
</section>