<div class="section-title">
	Patrocinadores
</div>
<section id="patrocinadores" class="row">
	<div class="col-sm-6 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/geekbot.jpg">
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/ceulver.jpeg">
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/jupv.png">
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/logiety.png">
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/vicar.jpg">
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/patrocinadores/mitchels.png">
		</div>
	</div>
</section>