<blockquote class="quote-card teal-card">
	<p>
		“El hardware abierto significa tener la posibilidad de mirar lo que hay dentro de las cosas, que eso sea éticamente correcto, y que permita mejorar la educación.”
	</p>
	<cite>
		 David Cuartelles, Co-Creador de Arduino.
	</cite>
</blockquote>