<div class="section-title">
    	Conferencias
	</div>
<div class="col-12">

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Primera Conferencia</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
			</ul>
			<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">02</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Segunda Conferencia</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
			</ul>
			<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">03</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Tercera Conferencia</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
			</ul>
			<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">04</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Cuarta Conferencia</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
			</ul>
			<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Quinta Conferencia</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
			</ul>
			<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</div>