<div class="section-title" id="talleres">
    Talleres
</div>
<div class="col-12">

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Arduino For Dummies</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 – 14:00 - Edad: 11 años en adelante - Costo del Kit: $400.00 con Arduino ó $120.00 sin Arduino.</li>
			</ul>
			<p>Taller en el que se realizará una introducción a Arduino para novatos, dirigido a personas interesadas en adentrarse en el mundo de la electrónica y programación con Arduino. <a href="https://goo.gl/JMm2e3" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">02</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Matemáticas con Arduino</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 – 14:00 - Edad: 15 años en adelante - Costo del Kit: Pendiente</li>
			</ul>
			<p>Taller en el que se adentrara en mostrar formas de análisis matemático utilizando Arduino, dirigido a personas con un conocimiento básico de Arduino y matemáticas aplicadas. <a href="https://bit.ly/2rctyim" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">03</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Scratch for Arduino</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 – 14:00 - Edad: 7 años en adelante - Costo del Kit: $500.00 con Arduino ó $230.00 sin Arduino.</li>
			</ul>
			<p>Taller en el que se explicara como utilizar el lenguaje scratch para programar Arduino, dirigido niños y profesores interesados en conocer esta herramienta de programación infantil. <a href="https://bit.ly/2KtOwRZ" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">04</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Soldadura para novatos</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> Todo el día - Edad: 6 años en adelante - Costo del Kit: $100.00</li>
			</ul>
			<p>Taller muy divertido en el que aprenderan a soldar placas electrónicas y al finalizar pondrán llevarse un divertido collar, dirigido a niños y adultos interesados en aprender a soldar placas electrónicas. <a href="https://goo.gl/qaxcd1" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Cronometro con Arduino</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 15:00 – 17:00 - Edad: 15 años en adelante - Costo del Kit: Pendiente</li>
			</ul>
			<p>Taller en el que aprenderán a programar un cronometro digital con Arduino, dirigido a personas con un conocimiento básico de Arduino y matemáticas aplicadas. <a href="https://goo.gl/uxqFHm" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<!--div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">06</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Sistema de Riego con Arduino</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 15:00 – 17:00 - Edad: 15 años en adelante - Costo del Kit: Gratuito o donativo $50.00</li>
			</ul>
			<p>Taller en el que aprenderán a programar un Sistemas de Riego controlador por Arduino, dirigido a personas con un conocimiento básico de Arduino y matemáticas aplicadas. <a href="https://goo.gl/icdwMb" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div-->

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">06</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Paneles para tus proyectos</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 15:00 – 17:00 - Edad: 15 años en adelante - Costo del Kit: Gratuito ó donativo $50.00</li>
			</ul>
			<p>Taller en el que aprenderán el funcionamiento de los paneles solares y como implementarlos en sus proyectos, dirigido a personas que deseen aprender a usar paneles solares en sus proyectos. <a href="https://goo.gl/Mj7aHT" target="_blank">Ir al registro</a>.</br>Opcionalmente también puedes <a href="https://www.facebook.com/mundomecatronico/posts/2019068261687919" target="_blank">obtener el Kit de trabajo</a> (recomendado).</p>
		</div>
	</div>

	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">07</span></h1>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>Crea tu videojuego</strong></h3>
			<ul class="list-inline">
				<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 15:00 – 17:00 - Edad: 15 años en adelante - Costo del Kit: Pendiente</li>
			</ul>
			<p>Taller en el que aprenderás a desarrollar tu propio videojuego. <a href="#">Próximamente</a>.</p>
		</div>
	</div>
</div>