<section id="talleres" class="row">
  <div class="section-title">
    Talleres
  </div>
  
  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Uno</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Dos</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Tres</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Cuatro</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Cinco</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Seis</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Siete</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 item">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x500">
      <div class="card-img-overlay d-flex flex-column">
        <h5 class="card-title text-center">Taller Ocho</h5>
        <a href="#" class="btn btn-outline-primary mt-auto">Registro</a>
      </div>
    </div>
  </div>
</section>