<div class="section-title" id="universidades">
	Universidades
</div>
<section class="row">
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/universidades/itver.png">
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/universidades/ucc.png">
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 item">
		<div class="card">
	    	<img class="card-img-top" src="images/universidades/uv.jpg">
		</div>
	</div>
</section>