<section class="video v-center" style="height: 800px; background-position: 50% 58px;">
	<video id="video_background" preload="auto" autoplay="autoplay" loop="loop">
		<source src="www.youtube.com/watch?v=UoBUXOOdLXY" type="video/mp4">
	</video>
</section>