<section class="video v-center" style="height: 800px; background-position: 50% 58px;">
	<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->
    <iframe width="560" height="349" src="www.youtube.com/watch?v=UoBUXOOdLXY?rel=0&hd=1" autoplay="true" frameborder="0" allowfullscreen></iframe>
</div>
</section>