body {
	font-family: 'Roboto';
	color: white;
	background-color: rgba(34, 34, 34, 1.0);
}

.navbar {
	background-color: rgba(0, 0, 0, 0.90);
}

.navspace {
	width: 100vw;
	height: 70px;
}

.container-fluid {
	margin-bottom: 0;
	text-align: center;
	font-family: 'Comfortaa';
	text-transform: uppercase;
}

.screen {
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

.smooth {
	color: rgba(0, 0, 0, 0.25);
}

.smooth-light {
	color: rgba(220, 220, 220, 1.0);
}

#nav-btn-entradas {
	margin-left: 15px;
}

#scroll-button {
	cursor: pointer;
	z-index: 800;
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 0;
	text-align: center;
	background-color: rgba(34, 34, 34, 0.75);
}

#inicio {
	color: white;
	position: relative;
	padding: 0;
}

#inicio-background {
	z-index: -5000;
	position: absolute;
	background-color: rgba(34, 34, 34, 1.0);
	width: 100%;
	height: 100vh;
}

#inicio .container {
	position: relative;
	text-align: bottom;
	z-index: 0;
	min-height: 100vh;
}

#inicio .container .row{
	width: 100%;
	padding: 0;
	margin: 0;
}

footer {
	padding-bottom: 40px;
}

footer a, footer a:hover {
	color: rgba(230, 43, 30, 1.0);
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	.navbar-nav {
		height: 100vh;
		vertical-align: middle;
	}

	.navbar-nav > li {
		margin: 0 auto;
		padding: 5px;
	}

	#nav-btn-entradas {
		margin-left: 0;
		padding: 15px 50px;
	}
	.smooth-light {
		font-size: 18px;
	}
}