#portada {
	position: relative;
	padding-top: 70px;
}

#portada .m3logo {
	display: block;
	width: 100%;
	padding-top: 50px;
	font-family: 'Comfortaa';
}

#portada .m3logo .m3 {
	line-height: 1;
	font-size: 180px;
	color: white;
	transform: rotate(-12deg);
}

#portada .m3logo .talks {
	margin-top: 5px;
	margin-left: 10px;
	line-height: 1;
	font-size: 30px;
	color: white;
	letter-spacing: 10px;
}

#portada .info {
	display: inline-block;
	width: auto;
	margin: 30px 0px 50px 0px;
	font-size: 18px;
}

#portada .info .lugar {
	display: inline-block;
	padding: 10px;
	margin: 10px 0px;
	font-size: 25px;
	font-weight: bolder;
	line-height: 1;
	letter-spacing: 2.5px;
	color: rgba(34, 34, 34, 0.75);
	background-color: white;
}

#portada .info .btn {
	font-family: 'Arial';
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	max-width: 100%;
	margin-top: 25px;
	box-sizing: border-box;
}

@media (max-width: 350px) {
	#portada .m3logo {
		padding-top: 0px;
	}
	#portada .m3logo .m3{
		font-size: 140px;
	}
	#portada .m3logo .talks {
		font-size: 20px;
	}
	#portada .info {
		margin: 10px 0px 50px 0px;
	}
	#portada .info .lugar {
		font-size: 20px;
	}
	#portada .info .btn {
		margin-top: 20px;
		font-size: 15px;
	}
}