<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="container">

  <% include ../partials/navbar.ejs %>
  <% include ../partials/datos.ejs %>
  <% include ../partials/video.ejs %>
  <% include ../partials/quote-card.ejs %>
  <% include ../partials/conferencias.ejs %>
  <% include ../partials/talleres.ejs %>
  <% include ../partials/team.ejs %>
  <% include ../partials/logos.ejs %>
  <% include ../partials/aliados.ejs %>
  <% include ../partials/universidades.ejs %>
  <% include ../partials/patrocinadores.ejs %>
  <% include ../partials/location.ejs %>
  <% include ../partials/footer.ejs %>

</body>
</html>