<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="scroll-button" onclick="scroll_to();">
  <i class="fa fa-angle-down" style="font-size: 50px;"></i>
</div>

<div id="inicio" class="screen">
  <div id="inicio-background"></div>
  <div class="container">
    <div class="row">
      <div id="portada" class="col-12 text-center">
        <div class="m3logo">
          <div class="m3">M3</div>
          <div class="talks">Tech Talks</div>
        </div>
        <div class="info">
          <div class="fecha">Viernes 2 de marzo del 2018</div>
          <div class="hora">Horario: 0:00 a 0:00 pm</div>
          <div class="lugar">Teatro de la Reforma</div>
          <div class="ciudad">Veracruz, Ver.</div>
          <div class="getTickets">
            <a href="#" class="btn btn-outline-success btn-lg btn-block">conseguir entradas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="ponentes" class="screen">
    <h3 class="smooth-light">ponentes</h3>
    <p></p>
  </div>
  <div id="programa" class="screen">
    <h3 class="smooth-light">programa</h3>
    <p></p>
  </div>
  <div id="patrocinadores" class="screen">
    <h3 class="smooth-light">patrocinadores</h3>
    <p></p>
  </div>
  <div id="lugar" class="screen">
    <h3 class="smooth-light">lugar</h3>
    <p></p>
  </div>
  <div id="nosotros" class="screen">
    <h3 class="smooth-light">nosotros</h3>
    <p></p>
  </div>
</div>

  <% include ../partials/footer.ejs %>

</body>
</html>
