<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="container">

  <% include ../partials/navbar.ejs %>
  <% include ../partials/video.ejs %>
  <% include ../partials/quote-card.ejs %>
  <% include ../partials/team.ejs %>
  <% include ../partials/footer.ejs %>

</body>
</html>
